# Install on Linux with systemd (e.g. Raspberry Pi) with:
#   sudo ln -sf $(realpath pytes_serial.service) /etc/systemd/system/
#   sudo systemctl daemon-reload
#   sudo systemctl enable --now pytes_serial

[Unit]
Description=Pytes/Pylontech battery utility for writing to JSON/MQTT/MariaDB
After=network.target

[Service]
Type=simple
# Change these according to the intallation directory location
#   Example with Python system install:
WorkingDirectory=/home/pi/pytes_serial
ExecStart=/usr/bin/python3 /home/pi/pytes_serial/pytes_serial.py
#   Example with Python virtual environment install:
# WorkingDirectory=/home/pi/pytes_serial
# ExecStart=/home/pi/pytes_serial/.venv/bin/python /home/pi/pytes_serial/pytes_serial.py

[Install]
WantedBy=multi-user.target
