configparser==7.0.0
DateTime==5.5
  pytz==2024.1
  zope.interface==6.3
    setuptools==69.5.1
mysql-connector==2.2.9
paho-mqtt==2.0.0
pipdeptree==2.19.0
  packaging==24.0
  pip==24.0
pyserial==3.5
wheel==0.43.0
